%pill-default-settings {
  background: $color-background-2;
  box-shadow: 0px 4px 4px $color-shadow;
  border-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.pill {
  @extend %pill-default-settings;

  .pill__slot {
    opacity: 1;
    color: $color-darkblue-1;
    font-weight: bold;

    transition: opacity ease 1s !important;
    text-align: right;
  }

  &__text {
    font-size: 3.5rem;
    padding-inline: 1.4rem;
    padding-block: 0.7rem;
  }

  &--interactive {
    cursor: pointer;

    .pill__slot {
      opacity: 0.5;
    }
  }

  &--interactive:hover {
    .pill__slot {
      opacity: 0.7;
    }
  }

  &__icon {
    display: flex;
    font-size: 5rem;
    padding-inline: 1.2rem;
  }

  &--centered {
    justify-content: center;
  }

  &--smallerText {
    font-size: 3rem;
    padding-right: 1.4rem;
  }

  &--active {
    .pill__slot {
      opacity: 1 !important;
      color: $color-lightblue-1;
    }

    .pill__slot:hover {
      opacity: 1 !important;
    }
  }
}

.vertical-list {
  color: $color-darkblue-1;
  font-weight: bold;
  cursor: default;

  &__title {
    font-size: 3.5rem;
    margin: 0;
  }

  &__list {
    list-style: none;
    margin: initial;
    margin-top: 0.5rem;
    margin-left: 1rem;
    position: relative;
    height: fit-content;
  }

  &__item {
    font-size: 2.5rem;
    padding-left: 1.1rem;
  }

  &__line {
    top:0;
    margin: 0;
    width: 0;
    height: 50px;
    position: absolute;
    height: 100%;
    border: 2px solid $color-darkblue-1;
    border-radius: 100px;
  }

  &__item--interactive {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity ease 0.4s;
  }

  &__item--interactive:hover {
    opacity: 1 !important;
  }
}

.hr-icon {
  font-size: 4rem;
  overflow: hidden;
  width: fit-content;
  color: $color-darkblue-1;

  %icon-line-config {
    transition: color 0.4s, background-color 0.4s;
  }

  &__icon {
    @extend %icon-line-config;

    margin-bottom: 0.2rem;
    align-self: center;
  }

  &__line {
    @extend %icon-line-config;

    padding: 4px 0;
    background-color: $color-darkblue-1;
    margin: 0;
    border-radius: 2rem;
    border: 0;
  }

  &--interactive {
    cursor: pointer;
  }

  &--interactive:hover {
    .hr-icon__icon {
      color: $color-lightblue-1;
    }
    
    .hr-icon__line {
      background-color: $color-lightblue-1;
    }
  }
}

.padded-icon {
  color: $color-lightblue-1;
  background: $color-background-2;
  box-shadow: 0px 4px 4px $color-shadow;
  padding: 1rem;
  min-height: 5rem;
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 1.5rem;

  &__icon {
    height: 100% !important;
    width: 100% !important;
    opacity: 0.5;
    transition: opacity 0.4s;
  }

  &--interactive {
    cursor: pointer;
  }

  &--interactive:hover:not(.padded-icon--active) {
    .padded-icon__icon {
      opacity: 0.7;
    }
  }

  &--active {
    .padded-icon__icon {
      opacity: 1;
    }
  }
}

.pill-input {
  cursor: text;
  color: $color-lightblue-1;

  &__pill {
    @extend %pill-default-settings;
    transition: background 0.41s ease;
  }

  &__pill--active {
    background: $color-background-3 !important;
  }

  &__label {
    color: $color-lightblue-1;
    font-size: 4rem;
    font-weight: bold;
  }

  &__input-wrapper {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
  }

  &__input {
    color: $color-lightblue-1;
    display: block;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    margin-bottom: 0.1rem;
  
    width: 100%;
  }

  &__line {
    border: 0.15rem $color-lightblue-1 solid;
    margin: 0;
    margin-top: 0.1rem;
    border-radius: 3rem;
  }

  &__icon-wrapper {
    display: flex;
    font-size: 5rem;
    padding-right: 1.2rem;
  }
}

.pill-textarea {
  color: $color-lightblue-1;
  cursor: text;
  display: flex;
  flex-direction: column;
  height: auto;

  &__pill {
    cursor: text;
    background: $color-background-2;
    border-radius: 2.5rem;
    padding:1.2rem;
    padding-bottom: 3rem;
  
    transition: background 0.41s ease;
    position: relative;
  }

  &__pill--active {
    background: $color-background-3;
  }

  &__label {
    padding-left: 1.2rem;
    color: $color-lightblue-1;
    font-size: 4rem;
    font-weight: bold;
  }

  &__textarea {
    resize: none;

    color: $color-lightblue-1;
    display: block;
    overflow: hidden;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    margin:0;
  
    height: 100%;
    width: 100%;
  }

  &__footnote {
    position: absolute;
    bottom: 1rem;
    right: 2.4rem;
  
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.pill-button {
  &__pill {
    @extend %pill-default-settings;

    border: 3px solid $color-darkblue-1;
    transition: background-color 0.41s ease;
  }

  &__pill:hover {
    background-color: $color-background-3;
  }

  &__button {
    color: $color-lightblue-1;

    background: none;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;

    font-size: 2.5rem;
    font-weight: bold;

    cursor: pointer;
  }
}
