.pill {
  background: $color-background-2;
  box-shadow: 0px 4px 4px $color-shadow;
  border-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;

  .pill__slot {
    opacity: 1;
    color: $color-darkblue-1;
    font-weight: bold;

    transition: opacity ease 1s;
    text-align: right;
  }

  &__text {
    font-size: 3.5rem;
    padding-inline: 1.4rem;
    padding-block: 0.7rem;
  }

  &--interactive {
    cursor: pointer;

    .pill__slot {
      opacity: 0.5;
    }
  }

  &--interactive:hover {
    .pill__slot {
      opacity: 0.7;
    }
  }

  &__icon {
    display: flex;
    font-size: 5rem;
    padding-inline: 1.2rem;
  }

  &--centered {
    justify-content: center;
  }

  &--smallerText {
    font-size: 3rem;
    padding-right: 1.4rem;
  }

  &--active {
    .pill__slot {
      opacity: 1;
      color: $color-lightblue-1;
    }

    .pill__slot:hover {
      opacity: 1;
    }
  }
}

.vertical-list {
  color: $color-darkblue-1;
  font-weight: bold;

  &__title {
    font-size: 3.5rem;
    margin: 0;
  }

  &__list {
    list-style: none;
    margin: initial;
    margin-top: 0.5rem;
    margin-left: 1rem;
    position: relative;
    height: fit-content;
  }

  &__item {
    font-size: 2.5rem;
    padding-left: 1.1rem;
  }

  &__line {
    top:0;
    margin: 0;
    width: 0;
    height: 50px;
    position: absolute;
    height: 100%;
    border: 2px solid $color-darkblue-1;
    border-radius: 100px;
  }
}

.hr-icon {
  font-size: 4rem;
  overflow: hidden;
  width: fit-content;
  color: $color-darkblue-1;

  %icon-line-config {
    transition: color 0.4s, background-color 0.4s;
  }

  &__icon {
    @extend %icon-line-config;

    margin-bottom: 0.2rem;
    align-self: center;
  }

  &__line {
    @extend %icon-line-config;

    padding: 4px 0;
    background-color: $color-darkblue-1;
    margin: 0;
    border-radius: 2rem;
    border: 0;
  }

  &--interactive {
    cursor: pointer;
  }

  &--interactive:hover {
    .hr-icon__icon {
      color: $color-lightblue-1;
    }
    
    .hr-icon__line {
      background-color: $color-lightblue-1;
    }
  }
}

#padded-icon {
  color: $color-lightblue-1;
  background: rgba(109, 215, 253, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  border-radius: 1.5rem;
}

#padded-icon > span {
  height: 100% !important;
  width: 100% !important;
  opacity: 0.5;
  transition: opacity 0.4s;
}

#padded-icon.interactive:not(.active):hover > span {
  opacity: 0.7;
}

#padded-icon.interactive {
  cursor: pointer;
}

#padded-icon.active > span {
  opacity: 1;
}

.pill-input>.input {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 0.8rem;
}

.pill-input>.input>input {
  color: $color-lightblue-1;
  display: block;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
  margin-bottom: 0.1rem;

  width: 100%;
}

.pill-input>.input>hr {
  border: 0.15rem $color-lightblue-1 solid;
  margin: 0;
  border-radius: 3rem;
}

.pill-input {
  color: $color-lightblue-1;
  background: rgba(109, 215, 253, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;

  transition: background 0.41s ease;
  cursor: text;
}

.pill-input.active {
  background: rgba(109, 215, 253, 0.25);
}

.pill-slot-input {
  font-weight: bold;
  color: $color-lightblue-1;

  opacity: 0.5;
  transition: opacity ease 0.4s;
  text-align: right;
  font-size: 2.5rem;

  width: 100%;
  margin-left: 1.2rem;
}

.pill-input>.icon {
  display: flex;
  font-size: 5rem;
  padding-right: 1.2rem;
}

.text-big {
  color: $color-lightblue-1;
  font-size: 4rem;
  font-weight: bold;
}

.pill-textarea {
  color: $color-lightblue-1;
  background: rgba(109, 215, 253, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2.5rem;
  padding:1.2rem;
  padding-bottom: 3rem;

  transition: background 0.41s ease;
  cursor: text;
}

.pill-textarea.active {
  background: rgba(109, 215, 253, 0.25);
}

.pill-textarea > textarea {
  resize: none;

  color: $color-lightblue-1;
  display: block;
  overflow: hidden;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
  margin:0;

  height: 100%;
  width: 100%;
}