#pill {
  background: rgba(109, 215, 253, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

#pill.interactive:not(.active):hover > #pill-slot {
  opacity: 0.7;
}

#pill.active > #pill-slot {
  opacity: 1;
}

#pill:not(.interactive) > #pill-slot {
  opacity: 1;
  color: $color-darkblue-1;
}

#pill.centered {
  justify-content: center;
}

#pill-slot {
  font-weight: bold;
  color: $color-lightblue-1;

  opacity: 0.5;
  transition: opacity ease 0.4s;
  text-align: right;
}

#pill-slot:not(.icon) {
  padding-inline: 1.4rem;
  padding-block: 0.7rem;
  font-size: 3.5rem;
}

#pill-slot.smallerText {
  font-size: 3rem;
}

#pill-slot.icon {
  display: flex;
  font-size: 5rem;
  padding-left: 1.2rem;
}

#list-component {
  color: $color-darkblue-1;
  font-weight: bold;
}

#list-component > ul {
  font-size: 2.5rem;

  list-style: none;
  margin: initial;
  margin-top: 0.9rem;
  margin-left: 1rem;
  position: relative;
  height: fit-content;
}

#list-component > ul > hr {
  top:0;
  margin: 0;
  width: 0;
  height: 50px;
  position: absolute;
  height: 100%;
  border: 2px solid $color-darkblue-1;
  border-radius: 100px;
}

#list-component > ul > li {
  padding-left: 1.1rem;
}

#list-component > p {
  font-size: 3.5rem;
  margin: 0;
}

#menu-icon {
  color: $color-darkblue-1;
  font-size: 4rem;
  cursor: pointer;
  overflow: hidden;
}

#menu-icon > span, #menu-icon > hr {
  transition: color 0.4s, background-color 0.4s;
}

#menu-icon > span {
  margin-bottom: 0.2rem;
  align-self: center;
}

#menu-icon > hr {
  padding: 4px 0;
  background-color: $color-darkblue-1;
  margin: 0;
  border-radius: 2rem;
  border: 0;
}

#menu-icon:hover > hr {
  background-color: $color-lightblue-1;
}

#menu-icon:hover > span {
  color: $color-lightblue-1;
}

#padded-icon {
  color: $color-lightblue-1;
  background: rgba(109, 215, 253, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  border-radius: 1.5rem;
}

#padded-icon > span {
  height: 100% !important;
  width: 100% !important;
  opacity: 0.5;
  transition: opacity 0.4s;
}

#padded-icon.interactive:not(.active):hover > span {
  opacity: 0.7;
}

#padded-icon.interactive {
  cursor: pointer;
}

#padded-icon.active > span {
  opacity: 1;
}