@import "./keyframes.scss";
@import "./animations.scss";

$color-lightblue-1: #6dd7fd;
$color-darkblue-1: #57abc9;

$color-background-1: #1e1e1e;
$color-background-2: rgba(109, 215, 253, 0.1);
$color-background-3: rgba(109, 215, 253, 0.25);
$color-shadow: rgba(0, 0, 0, 0.25);


:root {
  font-family: 'Calibri', sans-serif;
  height: 100%;
  font-size: 16px;
}

/* Small screen */
@media screen and (max-width: 576px) {
  :root {
    font-size: 6px;
  }
}

/* Medium screen */
@media screen and (min-width: 577px) and (max-width: 992px) {
  :root {
    font-size: 12px;
  }
}

/* Large screen */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

/* Extra large screen */
@media screen and (min-width: 1201px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: $color-background-1;
}

a {
  all: unset;
}
