$header-font-size: 5rem;
$subheader-font-size: 4rem;
$bottom-label-size: 2rem;

%hr-default-container {
  width: 100%;

  hr {
    border: none;
    border-radius: 4px;
    margin-block: 0;
    width: 100%;
  }
}

%default-span {
  padding-inline: 0.5rem;
  position: relative;
  display: inherit;
}

$primary-color: $color-lightblue-1;
$secondary-color: $color-darkblue-1;

.header-component {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  font-weight: bold;

  &__primary {
    color: $primary-color;

    .span-container-top {
      font-size: $header-font-size;
      
      span {
        @extend %default-span;
        height: calc($header-font-size + 0.8rem);
      }
    }

    .hr-container {
      @extend %hr-default-container;

      hr {
        padding: 4px 0;
        background-color: $primary-color;
      }
    }
  }

  &__secondary {
    color: $secondary-color;

    .span-container-top {
      font-size: $subheader-font-size;
      
      span {
        @extend %default-span;
        height: calc($subheader-font-size + 0.7rem);
      }
    }

    .hr-container {
      @extend %hr-default-container;

      hr {
        padding: 3px 0;
        background-color: $secondary-color;
      }
    }
  }

  &--centered {
    place-items: center;
  }

  .span-container-bottom {
    font-size: $bottom-label-size;
    margin-top: 0.1em;
  }
}
