@keyframes blur-out {
  0% {
    opacity: 1;
    filter: blur(0px);
  }

  40% {
    filter: blur(2px);
  }

  100% {
    opacity: 0;
  }
}

@keyframes span-out {
  0% {
    width: 0;
    filter: blur(4px);
  }

  20% {
    filter: blur(0px);
  }

  100% {
    width: 100%;
  }
}

@keyframes slide-up {
  0%,
  39% {
    filter: blur(0px);
    transform: translateY(5rem);
  }

  40% {
    filter: blur(2px);
  }

  70% {
    filter: blur(0px);
  }

  100% {
    filter: blur(0px);
    transform: translateY(0rem);
  }
}

@keyframes slide-up-low {
  0% {
    opacity: 0.1;
    filter: blur(2px);
    transform: translateY(1rem);
  }

  30% {
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0rem);
  }
}

@keyframes slide-up-low-2 {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(1rem);
  }

  30% {
    filter: blur(0px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0rem);
  }
}
