$nav-height: 4.5rem;
$border-size: 3px;

#navigation {
  width: fit-content;
  height: calc(100% + 4px);
  margin-bottom: 4px;
}

nav {
  color: #6dd7fd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav > div {
  height: $nav-height;
  aspect-ratio: 1/1;
  padding-inline: 0.4rem;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
  display: flex;
  justify-content: center;
}

nav > :hover {
  opacity: 0.7;
}

nav > .active {
  opacity: 1;
}

nav > div > span {
  fill: $color-lightblue-1;
  height: 90% !important;
  width: 90% !important;
  aspect-ratio: 1/1 !important;
}

.underlines {
  width: 100%;
  position: relative;
}

.underlines > hr {
  margin: 0;
  border-radius: 5px;
  position: absolute;
  box-sizing: border-box;
}

.underlines > :not(.active) {
  border: $border-size solid #6dd7fd80;
  width: 100%;
}

.underlines > .active {
  border: $border-size solid $color-lightblue-1;
  transition: all 0.3s ease-out;
  z-index: 50;

  position: absolute;
}

.underlines > .delayed {
  transition: all 0.4s ease-in-out;
}
